.tile {
  background: var(--tile-bg);
  border-radius: var(--r-md);
  border: var(--bd-1) solid var(--outline);
  box-shadow: var(--shadow);
  padding: 0;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  position: relative;
  scale: 0.96;
  transition:
    box-shadow var(--t-fast),
    outline-color var(--t-fast),
    background-color var(--t-fast),
    translateY var(--t-fast),
    transform var(--t-fast),
    border var(--t-fast),
    scale var(--t-fast);
}



.tile.selected {
  border: var(--bd-2) solid var(--outline);
  box-shadow: var(--shadow);
  scale: 0.96;
}

.tile:hover {
  box-shadow: var(--shadow-strong);
  scale: 0.95;
  transform: var(--transform-shadow);
}

.tile:active {
  box-shadow: var(--shadow);
  scale: 1;
}

.tile svg {
  width: 100%;
  height: 100%;
  display: block;
  animation: fade-in 250ms, fade-out 250ms ease;
}